name: Trigger Jenkins Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Jenkins Job
        run: |
          curl -X POST \
          "${{ secrets.JENKINS_URL }}/job/${{ secrets.JENKINS_JOB }}/build?token=gh-trigger-123" \
          --user "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}"
